body {
	font:Arial;
	background-color: purple;
	text-align: center;
}

ul{
	display: inline-block;
}

#names ul {
	list-style: circle;

}

#menu{
	margin: 0 auto;
	text-align: center;
}

#menu li {
	list-style: none;
	float: left;
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
	
}