
p{
    text-align: left;
    margin-bottom: 5px;
}

#home{
    border-bottom-left-radius: 0px;
}

footer p{
    text-align: center;
}

li {
    font-family: "Open Sans", sans-serif;
    text-align: left;
}

#description ul{
    margin-bottom: 7px;
}

#purposemenu {
    list-style: none;
    width: 20%;
    float: left;
    margin: 5%;
    clear: none;
}

#purposemenu a{
    display: block; /*THIS IS IMPORTANT TO LIFE */
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: white;
    line-height: 50px;
    font-size: 20px;
}


#purposemenu a:hover{
    background-color: rgba(80, 4, 83, 0.74);
}

#menucol .active{
    background: mediumpurple;
}

#description{
    display: inline-block;
    float: right;
    width: 60%;
    min-height: 400px;
    margin: 20px;
    margin-right: 95px;
}

#description div{
    display: none;
}

#description .active{
    display: block;
}


#description h3{
    color: #5d0000;
    font-size: 30px;
    margin-bottom: 10px;
}

#menucol {
    background: #48247E;
    float: left;
    position: absolute;
    width: 15%;
    height: 60%;

}

.purposebutton {
    background-color: transparent;
    /*border-bottom: 1px solid black;    */
}

.purposebutton:hover{
    background-color: rgba(80, 4, 83, 0.53);
    cursor: pointer;
}

.purposebutton p{
    font-size: 24px;
    color: tan;
    font-family: "Bevan";
    padding: 10px;
}
