#names ul {
	list-style: none;
    width: 75%;
} 

li {
   
    text-align: right; 
    color: #40034b;
}

#names li{
    border-bottom: 1px solid black;
}

ul{
    height: 460px;
    
}

#title{
    font-size: 22px;
}

#names li.name {
    cursor:pointer;
    margin-top: 8px;
    margin-bottom: 3px;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    
}

#names li.name{
    -webkit-transition:font-size .2s; /* For Safari 3.1 to 6.0 */
    transition:font-size .2s;
}

#names li.name:hover{
    font-size: 170%;
}

.hidden{
    display: none;
}


#biography {
    float: right;
    display: inline-block;
    width: 50%;
    background-color: transparent;
    margin-right: 80px;
    margin-bottom: 50px;
    border-radius: 10px;
    padding: 10px;
}

#biography_img{
    border-radius: 130px;
    width: 200px;
}

.linkedin{
    width: 80px;
    height: 18px;
    margin-top: 15px;
}

#biography h2{
    color: #470353;
    font-size: 30px;
}

#biography h3{
    color: #8a259b;
    font-size: 19px;
}

#names {
    float: left;
    display: inline;
    font-size: relative;
    /*border: 2px solid;*/
    padding-bottom: 50px;
    width: 30%;
    text-align: left;

}


.emailpic {
    display: block;
    margin: auto;
    width: 25px;
    height: 17px;
    border: 1px solid black;
}
