
body {
	font:Arial;
	background-color: #5e675e;
	text-align: center; 
}

#container{
	width:75%;
	margin:20px auto;
    margin-top: 0px;
    align-content: center;
    background: rgba(224, 57, 57, 0.9);
}



#video{
	background-color: red;
}

#announements{
    float: left;
	border: 3px solid #000;
	height: 225px;
	width: 450px; 
	margin-left: 5px;
	margin-right: auto;
    border-radius: 10px; 
}
h4 {
    font-size: 35px;
    margin: 0px;
}

a:link {
    text-decoration: underline;
}

#recentnews {
    border: 3px solid;
    border-radius: 20px;
    width: 550px;
    float: right;
    height: 225px;
    margin-right: 20px;
}

span {
    color: #b11515;
}


