html{
	
}

html, body {width:100%; height:100%;}

* {
    padding: 0px;
    margin: 0px;
    font-family: "Oswald", sans-serif;
}

h2{
    font-size: 35px;
    color: rgba(224, 219, 83, 0.88);
    font-family: "Oswald", sans; 
    font-weight: 800;
    
} 

a{
    font-family: "Bevan";
    color: black;
}

h3{
    font-family: "Oswald";
    color: rgb(177, 85, 85);
}


body {

	background-color: rgba(145, 116, 191, 0.18);
	text-align: center; 
}

#container{
	width:77%;
	margin:20px auto;
    margin-top: 0px;
    margin-bottom: 0px;
    background: white;
    overflow: hidden;
}

#titlebar {
    background: #48247E;
    margin: -1px;
    padding-bottom: 7px;
    padding-top: 8px;
}

#titlebar img{
    width: 64px;
    height: 70px;
}

p {
    font-family: "Open Sans", sans-serif;
}


#floatingsocial{
    border: 0px solid #b28484;
    width: 3.5%;
    height: auto;
    margin-left: 7.7%;
    margin-top: 20%;
    position: fixed;
    float: left;
    vertical-align:middle; 
    border-radius: 10px;
    box-shadow: -3px 2px 13px #888888;
    background: rgba(145, 116, 191, 0.18);
}

.button{
    background: rgba(223, 168, 51, 0.53);
}

.button a img{
    margin: auto;
    border-radius: 5px;
    width: 60%;
    height: 60%;
    margin: 15%;
}

#facebookbutton{
    border-top-left-radius: 30%;
    border-top-right-radius: 10px;
}


#nsbebutton{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.button:hover{
    background: rgba(195, 153, 80, 0.62);
}

footer{
    width: 77%;
    margin-left: 11.5%;
    height: 80px;
    background: #48247E;
    color: white;
}

.site_footer{
    display: block;
    clear: right;
    width: 50%;
    float: right;
}

.copyright{
    display: block;
    float: left;
    margin-left: 10px;
    margin-top: 5px;
    font-size: 12px;
}

.site_footer h4, .site_footer p{
    display: inline-block;
    float: right;
}

.site_footer h4{
    font-size: 15px;
    margin-right: 25%;
    width: 50%;
}

.site_footer p{
    font-size: 12px;
}

#aboutlink, #contactlink{
    display: inline-block;
    font-size: 12px;
    font-weight: 100;
    font-family: "Helvetica", sans;
}
