#menu{
	margin: 0;
    margin-top: 1px;
	text-align: center;
    height: 40px;
    background-color: #270CS2;
    padding: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}


#menu li {
    list-style: none;
    float: left;
    width: 14.26%;
}


#menu a {
	list-style: none;
	float: left;
	text-align: center;
    line-height: 40px;
    color: white;
	width: 100%;
    

} 

ul {
    border-radius: 10px;
    padding-left: 0px;
}

#menu a.item:hover{
    color: gold;
}

#menu a.item:active{
    color: gold;
}

#menu a {
    text-decoration: none;
    color: #fdfded;
    font-size: 100%;
    
}

#menu a.SELitem{
    color: gold;
}

a:visited {
    text-decoration: none;
    color: black;
}

.item {
    height: 40px;
    background-color: #270C52;
    border: 0x solid black;
    border-radius: 0px;
    display: inline;
    font-family: "Helvetica", sans-serif;
    font-weight: 900;
    
    margin: auto;
}

.SELitem{
    height: 40px;
    width: 130px;
    border: 0px solid black;
    border-radius: 0px;
    background-color: rgba(39, 12, 82, 0.35);
    border-width: 0px;
    display: inline;
    text-align: center;
    font-family: "Helvetica", sans-serif;
    margin: auto;
    
}

#contact {
    border-bottom-right-radius: 10px;
    padding-right: 1px;
}

#home {
    border-bottom-left-radius: 10px;
    padding-left: 1px;
}
