#menu{
	margin: 0 auto;
	text-align: center;
    height: 40px;
    background-color: #4a3636;
    
}


#menu li {
    list-style: none;
    float: left;
    
}


#menu a {
	list-style: none;
	float: left;
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
    line-height: 40px;
        color: white;
    

} 

ul {
    border-radius: 10px;
    padding-left: 0px;
}

#menu a.item:hover{
    background-color: red;
}

a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

a:visited {
    text-decoration: none;
    color: black;
}

.item {
    height: 40px;
    width: 155px;
    background-color: #890b0b;
    border-width: 1px;
    display: inline;
    text-align: center;
    font-family: "Helvetica", sans-serif;
    margin: auto;
}

.SELitem{
height: 40px;
    width: 155px;
    
    background-color: purple;
    border-width: 1px;
    display: inline;
    text-align: center;
    font-family: "Helvetica", sans-serif;
    margin: auto;
}
