.newsstyle1 {
    
    -moz-border-radius: 10px;
    width: 80%;
}

td{
    
}

.newsstyle2 {
    width: 80%;
    -moz-border-radius: 10px;
}

#newstable {
}

.sharebutton{
    width: 80px;
    height: 20px;
    float: right;
    margin: 10px;
    border: none;
}



.date {
    background: white;
    font-size: 25px;
    color: rgba(155, 155, 101, 0.56);
    font-family: sans-serif, "Helvetica";
    font-weight:bolder;
    margin-left: 12%;
    
}


.newsstyle1 .date{
    color: #d3b201;
}

.newsstyle2 .date{
    color: purple;
}


.newsstyle1 .story{
    background: rgba(56, 2, 95, 0.37);
}

.newsstyle2 .story{
    background: rgba(198, 191, 20, 0.42);
}

.story {
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    width: 90%;
    display: inline-block;
    padding: 20px;
    
}

.story p{
    font-size: 15px;
    color: rgba(38, 15, 15, 0.99);
    font-weight: bolder;
}


#news3item {
    display: inline-block;
}

#newstable h3{
    margin: 10px;
    font-family: "Bevan";
    font-size: 27px;
}

.newsstyle2 h3 {
    color: #410041;
}

.newsstyle1 h3{
    color: #410041;
}

.conimg{
   height: 23%;
    width: 50%;
}


